footer {
    background-color: #1a1f36;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  .footer-column {
    flex: 1 1 100%;
    padding: 10px;
    
  }

  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  @media (min-width: 600px) {
    .footer-column {
      flex: 1 1 45%;
    }
  }

  @media (min-width: 900px) {
    .footer-column {
      flex: 1 1 30%;
    }
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .social-links a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
  }

  .footer-column a {
    color: #d1d5db;
    text-decoration: none;
    font-weight: bold;
  }
  .footer-column a:hover {
    color: #4b9cd3;
    text-decoration: underline;
  }

  .optional-info {
    display: flex;
    align-items: center;
  }